<div>
  <h2>Gerenciar Grupos</h2>
  <form [formGroup]="grupoForm" (ngSubmit)="editingGrupo ? updateGrupo() : addGrupo()">
    <div class="p-field">
      <label for="nome">Nome</label>
      <input id="nome" pInputText formControlName="nome" required />
    </div>
    <div class="p-field">
      <label for="descricao">Descrição</label>
      <input id="descricao" pInputText formControlName="descricao" />
    </div>
    <div class="p-field">
      <label for="meta">Meta</label>
      <p-dropdown [options]="metas" formControlName="meta" optionLabel="descricao" placeholder="Selecione uma meta" required></p-dropdown>
    </div>
    <div class="p-field">
      <label for="pessoa">Pessoa</label>
      <p-dropdown [options]="pessoas" formControlName="pessoa" optionLabel="nome" placeholder="Selecione uma pessoa" required></p-dropdown>
    </div>
    <button pButton type="submit" label="{{ editingGrupo ? 'Atualizar Grupo' : 'Adicionar Grupo' }}"></button>
  </form>

  <p-table [value]="grupos">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Saldo Negativo</th>
        <th>Meta</th>
        <th>Pessoa</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-grupo>
      <tr>
        <td>{{ grupo.nome }}</td>
        <td>{{ grupo.descricao }}</td>
        <td>{{ grupo.isSaldoNegativo ? 'Sim' : 'Não' }}</td>
        <td>{{ grupo.metas?.descricao }}</td> <!-- Exibe o tipo da meta vinculada -->
        <td>{{ grupo.pessoa?.nome }}</td> <!-- Exibe o tipo da meta vinculada -->
        <td>
          <button pButton icon="pi pi-pencil" (click)="editGrupo(grupo)" label="Editar"></button>
          <button pButton icon="pi pi-trash" (click)="deleteGrupo(grupo.id)" label="Deletar"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>