<p-toast></p-toast>
<div>
  <h2>Consulta de Lançamentos</h2>
  <div class="filters">
    <p-dropdown
      [options]="categorias"
      [(ngModel)]="selectedCategoria"
      (onChange)="filterLancamentos()"
      placeholder="Filtrar por Categoria"
    ></p-dropdown>
    <p-dropdown
      [options]="tipos"
      [(ngModel)]="selectedTipo"
      (onChange)="filterLancamentos()"
      placeholder="Filtrar por Tipo"
    ></p-dropdown>
    <p-dropdown
      [options]="grupos"
      [(ngModel)]="selectedGrupo"
      optionLabel="nome"
      (onChange)="filterLancamentos()"
      placeholder="Filtrar por Grupo"
    ></p-dropdown>

    <div>
      <label>Data de Início:</label>
      <p-calendar
        [(ngModel)]="startDate"
        (onSelect)="filterLancamentos()"
        dateFormat="mm/dd/yy"
      ></p-calendar>
    </div>
    <div>
      <label>Data de Fim:</label>
      <p-calendar
        [(ngModel)]="endDate"
        (onSelect)="filterLancamentos()"
        dateFormat="mm/dd/yy"
      ></p-calendar>
    </div>
  </div>

  <p-table [value]="filteredLancamentos">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Grupo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
      <tr>
        <td>{{ lancamento.nome }}</td>
        <td>{{ lancamento.descricao }}</td>
        <td>{{ lancamento.data }}</td>
        <td>{{ lancamento.tipo }}</td>
        <td> R$ {{ lancamento.valor }}</td>
        <td>{{ lancamento.categoria }}</td>
        <td>{{ lancamento.grupo.nome }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <h3>Somatório por Categoria</h3>
      <div *ngFor="let categoria of categorias">
        <div *ngIf="calcularSomatorioPorCategoria()[categoria] !== undefined">
          <strong>{{ categoria }}:</strong>
          R$ {{ calcularSomatorioPorCategoria()[categoria] }}
        </div>
      </div>
    </ng-template>
  </p-table>
</div>
